<h1>Évaluation de Stress</h1>
<form id="stress-evaluation-form">
  <label for="Q1"
    >Au cours de la dernière semaine, dans quelle mesure vous êtes-vous senti(e)
    stressé(e) ? (1 = Pas du tout, 5 = Très stressé)</label
  >
  <input type="number" name="Q1" min="1" max="5" required />

  <label for="Q2"
    >Avez-vous eu des difficultés à vous concentrer à cause du stress ? (1 = Pas
    du tout, 5 = Très souvent)</label
  >
  <input type="number" name="Q2" min="1" max="5" required />

  <label for="Q3"
    >Êtes-vous souvent inquiet(e) pour des choses que vous ne pouvez pas
    contrôler ? (1 = Pas du tout, 5 = Très souvent)</label
  >
  <input type="number" name="Q3" min="1" max="5" required />

  <label for="Q4"
    >À quel point vous sentez-vous submergé(e) par vos responsabilités ? (1 =
    Pas du tout, 5 = Très souvent)</label
  >
  <input type="number" name="Q4" min="1" max="5" required />

  <label for="Q5"
    >Comment évalueriez-vous votre niveau d'énergie au quotidien ? (1 = Très
    faible, 5 = Très élevé)</label
  >
  <input type="number" name="Q5" min="1" max="5" required />

  <button type="submit">Soumettre</button>
</form>
